<h1>Projects</h1>
  <% @projects.each do |project| %>
  <div class="my-2">
  <div class="card">
    <%= link_to project.name, project %>
  <% end %>

</div>
</div>
<%= link_to "New Project", new_project_path %>
